@model Encadenamiento.WebApp.Models.ViewModels.VMPDFPlanesTrabajo;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planes de Trabajo</title>
    <style>
        .contenedor {
            width: 900px !important;
            height: 842px !important;
            margin: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #006400;
            font-size: 15px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #858585;
        }

        p {
            margin: 0px
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: darkgreen;
                padding: 10px;
                font-size: 15px;
                color: white;
                opacity: 8;
            }

            table.tbproductos tbody tr td {
                padding: 10px;
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #757575;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #757575;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #008000;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }

        .tabla-proveedor {
            width: 80%;
            background-color: rgba(0, 100, 0, 0.8); /* darkgreen con 80% de transparencia */
            opacity: 0.2; /* Opacidad general de 20% */
        }

            .tabla-proveedor td {
                color: darkblue;
                font-size: 15px;
            }
        /* Logo centrado y franjas naranjas */
        .header {
            text-align: center;
            position: relative;
            padding-top: 15px;
        }

            .header img {
                width: 125px; /* Aumentar el tamaño del logo */
                height: auto;
            }

    </style>

</head>
<body style="background-color:rgba(0, 100, 0, 0.1)">
    <div style="background-color: rgba(0, 100, 0, 0.2);">
        <div class="header">
            <img src="@Model.negocio.UrlLogo" alt="Logo">
        </div>
        <table style="width:100%; background-color: rgba(0, 100, 0, 0.1);">

            <tr>
                <td>
                    <p style="color: darkblue; font-size: 15px; text-align: left;">Proveedor: @Model.plan.Proveedor</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="color: darkblue; font-size: 15px; text-align: left;">Finca: @Model.plan.NombreFinca</p>
                </td>
            </tr>
        </table>
    </div>
    <div style="border-radius:5px; margin:auto; box-shadow:2px 2px 10px #DEDEDE; padding:10px; background-color: rgba(0, 100, 0, 0.08)">
        <table style="width:100%">
            <tr>
                <td align="center" colspan="2">
                    <h3 style="color:#004DAF">Plan de Trabajo con número de sistema @(Model.plan.IdPlan.ToString() ?? "aún no disponible")</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="text" style="color: #2f2f2f; font-size: 15px;">
                        Por este medio estamos adjuntando un plan de trabajo con acciones derivadas de revisiones que se han realizado en su finca 
                        con codigo @(Model.plan.CodFinca.ToString() ?? "n/d") y razon social @(Model.plan.NombreFinca.ToString() ?? "n/d").  Este
                        plan de trabajo está previsto para iniciar el desarrolo de actividades en la fecha @(Model.plan.FechaIni?.ToString("dd/MM/yyyy") ?? "n/d")
                        esperando concluir con todas las tareas el @(Model.plan.FechaFin?.ToString("dd/MM/yyyy") ?? "n/d").
                    </p>
                    <br />
                    <p class="text" style="color: #2f2f2f; font-size: 15px;">
                        Agradecemos su participación en este programa, esperando que podamos contribuir en sus acciones y esfuerzos por establecer procesos
                        mas estandarizados.  Le recordamos que este es un programa de apoyo hacia ustedes, con el fin de establecer acciones encaminadas a
                        reducir las brechas de cumplimiento, implementando mejores prácticas y un modelo de mejora continua.
                    </p>
                </td>
            </tr>
            <tr> </tr>
            <tr> </tr>
            <tr> </tr>
            <tr>
                <td><h4 style="color:#004DAF;margin:2px">Contactarnos:</h4></td>
                <td>Teléfonos y Contactos tipo: @Model.plan.Email</td>
            </tr>
        </table>
        <hr />
        <hr />
        <div padding:15px; margin-top:15px; margin-bottom:15px;">
            <!-- Fondo verde claro -->
            <p style="color: #2f2f2f; font-size: 15px;">Para cualquier aclaración le recomendamos mantenerse en contacto con el supervisor de Negocios de Caña de Monte Rosa que le asiste.</p>
            <p style="color: #2f2f2f; font-size: 15px;">Muchas Gracias.</p>
        </div>
    </div>

    <br />
    <br />
</body>
</html>