@model Encadenamiento.WebApp.Models.ViewModels.VMPDFPlanesTrabajo;
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan de Trabajo</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            color: #333;
            padding: 5px;
        }

        .container {
            padding: 10px;
            border-radius: 1px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            position: relative;
        }

        h1 {
            text-align: center;
            color: darkgreen;
        }

        .section-title {
            font-weight: bold;
            margin-bottom: 2px;
        }

        .info {
            background-color: #e6f4e6;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .info td {
            padding: 8px;
            border-bottom: 1px solid #ccc;
        }

        .image {
            text-align: center;
            margin-bottom: 10px;
        }

        .image img {
            width: 45%;
            height: auto;
            margin: 10px;
            border: 1px solid #ddd;
        }

        .observations, .activities {
            margin-bottom: 20px;
        }

        .signature {
            margin-top: 30px;
        }

        .signature p {
            font-style: italic;
        }

        .header {
            text-align: center;
            position: relative;
            padding-top: 15px;
        }

        .header img {
            width: 180px;
            height: auto;
        }

        .container::before,
        .container::after {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            background-color: #F36F22;
            position: absolute;
            left: 0;
        }

        .container::before {
            top: 0;
        }

        .container::after {
            bottom: 0;
        }

        .franja-derecha {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 33%;
            background-color: #F36F22;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #e6f4e6;
            font-size: 16px;
            font-weight: bold;
        }

        .ambito-header {
            text-align: center !important;
            background-color: lightgray;
            font-weight: bold;
            font-size: 18px;
            padding: 10px;
        }

    </style>
</head>
<body>

    <div class="container">
        <div class="header">
            <img src="@Model.negocio.UrlLogo" alt="Logo img">
        </div>
        <h1>PLAN DE TRABAJO</h1>
        
        <table class="info" style="width: 100%;">
            <tr>
                <td><strong>Proveedor: </strong> @Model.plan.Proveedor</td>
            </tr>
            <tr>
                <td><strong>Finca: </strong> @Model.plan.NombreFinca</td>
            </tr>
            <tr>
                <td><strong>Fecha: </strong> @(DateTime.Now.ToString("dd/MM/yyyy") ?? "n/d")</td>
            </tr>
        </table>

        @{
            var fechaMasReciente = Model.plan.Actividades
                .Where(a => a.FechaUltimarevision.HasValue)
                .OrderByDescending(a => a.FechaUltimarevision)
                .FirstOrDefault()?.FechaUltimarevision;
        }

        <p>
            Estimado proveedor de caña, como parte del proyecto de encadenamiento de productores de caña de azúcar, que
            Pantaleon lleva a cabo para apoyarles en el cumplimiento de normas y regulaciones que la legislación nacional
            indica, le compartimos el plan de trabajo que hemos elaborado para reducir las brechas de cumplimiento de requisitos,
            identificadas en las últimas evaluaciones realizadas en su finca.
            <br />
            <br />
            Las tareas de este plan tienen un responsable asignado por su parte y que se detalla en el cuadro de actividades,
            tomar en cuenta que la última fecha de actualización de este plan corresponde a:
            @(fechaMasReciente?.ToString("dd/MM/yyyy") ?? "(aun no se actualiza)").            
        </p>
        
        <p>El avance general del plan de trabajo para su finca en esta etapa es de <strong>@((Model.plan.Avance ?? 0).ToString("F2")) %</strong>
            luego de actualizar las tareas y actividades que corresponden.
        </p>
        <br />

        <div class="observations">
            <table class="table" style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td colspan="2" style="padding: 5px; font-weight: bold;">Número de Plan:</td>
                    <td colspan="1" style="padding: 5px;">@Model.plan.IdPlan</td>
                    <td colspan="2" style="padding: 5px; font-weight: bold;">Descripción:</td>
                    <td colspan="7" style="padding: 5px; word-wrap: break-word;">@Model.plan.Descripcion</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 5px; font-weight: bold;">Fecha Inicio:</td>
                    <td colspan="1" style="padding: 5px;">@Model.plan.FechaIni?.ToString("dd/MM/yyyy")</td>
                    <td colspan="2" style="padding: 5px; font-weight: bold;">Fecha Final:</td>
                    <td colspan="2" style="padding: 5px;">@Model.plan.FechaFin?.ToString("dd/MM/yyyy")</td>
                    <td colspan="2" style="padding: 5px; font-weight: bold;">Estatus Actual:</td>
                    <td colspan="2" style="padding: 5px;">@Model.plan.Estado</td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 5px; font-weight: bold;">Observación:</td>
                    <td colspan="10" style="padding: 5px; word-wrap: break-word;">@Model.plan.Observaciones</td>
                </tr>
            </table>
        </div>


        <div class="activities">
            <p><span class="section-title">Actividades para reducir brechas:</span></p>

            @if (Model.plan.Actividades != null && Model.plan.Actividades.Any())
            {
                <table>
                    <thead>
                        <tr>
                            <th>IdAct</th>
                            <th>Descripción</th>
                            <th>Tipo</th>
                            <th>Fec_Ini</th>
                            <th>Fec_Fin</th>
                            <th>Responsable</th>
                            <th>Estado</th>
                            <th>Avance</th>
                            <th>Comentarios</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var act in Model.plan.Actividades)
                        {
                            <tr>
                                <td>@act.IdActividad</td>
                                <td>@act.Descripcion</td>
                                <td>@act.Tipo</td>
                                <td>@act.FechaIni?.ToString("dd/MM/yyyy")</td>
                                <td>@act.FechaFin?.ToString("dd/MM/yyyy")</td>
                                <td>@act.Responsable</td>
                                <td>@act.Estado</td>
                                <td>@act.Avances?.ToString("F2")</td>                                
                                <td>@act.Comentarios</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No se encontraron actividades.</p>
            }
        </div>

        <div class="signature">
            <p>Quedamos atentos a sus comentarios u observaciones al respecto.</p>
            <p>Saludos,</p>
            <p>Unidad de Negocios de Caña</p>
        </div>
      
    </div>
 
</body>
</html>
