@model Permisos.WebApp.Models.ViewModels.VMPDFAlerta;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Planes de Trabajo</title>
    <style>
        .contenedor {
            width: 900px !important;
            height: 842px !important;
            margin: auto;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        p.title {
            font-weight: bold;
        }

        p.title2 {
            font-weight: bold;
            color: #004DAF;
            font-size: 15px;
        }

        p.text {
            font-size: 15px;
            font-weight: 100;
            color: #2f2f2f;
        }

        p {
            margin: 0px;
        }

        .tbth {
            text-align: left;
        }

        table.tbproductos {
            border-collapse: separate;
            border-spacing: 4px;
        }

            table.tbproductos thead tr th {
                background-color: #003366;
                padding: 10px;
                font-size: 15px;
                color: white;
            }

            table.tbproductos tbody tr td {
                padding: 10px;
            }

        .item {
            font-size: 15px;
            font-weight: 100;
            color: #2f2f2f;
        }

        .item-2 {
            font-size: 15px;
            font-weight: bold;
            color: #2f2f2f;
        }

        .item-3 {
            font-size: 15px;
            font-weight: bold;
            background-color: #002B80;
            color: white;
        }

        .td-item {
            border-bottom: 2px solid #E8E8E8 !important;
        }

        .tabla-proveedor {
            width: 80%;
            background-color: rgba(0, 51, 153, 0.8);
        }

            .tabla-proveedor td {
                color: white;
                font-size: 15px;
            }

        .header {
            text-align: center;
            position: relative;
            padding-top: 15px;
        }

            .header img {
                width: 125px;
                height: auto;
            }
    </style>

</head>
<body style="background-color: rgba(0, 51, 153, 0.05)">
    <div style="background-color: rgba(0, 51, 153, 0.1);">
        <div class="header">
            <img src="@Model.negocio.UrlLogo" alt="Logo">
        </div>
        <table style="width:100%; background-color: rgba(0, 51, 153, 0.05);">
            <tr>
                <td>
                    <p style="color: #004DAF; font-size: 15px; text-align: left;">
                        Sistema de Avisos - Gestión Socio Ambiental
                    </p>
                </td>
            </tr>
        </table>
    </div>

    <div style="border-radius:5px; margin:auto; box-shadow:2px 2px 10px #DEDEDE; padding:10px; background-color: rgba(0, 51, 153, 0.06)">
        <table style="width:100%">
            <tr>
                <td align="center" colspan="2">
                    <h3 style="color:#004DAF">
                        Alerta sobre permiso con número de sistema @(Model.permiso.IdPermiso.ToString() ?? "n/d")
                    </h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p class="text">
                        Por este medio estamos informando el permiso referenciado como:
                        @(Model.permiso.Nombre.ToString() ?? "n/d") con fecha de vencimiento
                        @(Model.permiso.FechaVencimiento.ToString("dd/MM/yyyy") ?? "n/d") cumple con los criterios
                        establecidos para la alerta de vencimiento u otro tipo de alerta, por lo que se ha generado
                        este correo para su conocimiento y seguimiento.
                        <br />
                        La fecha establecida para iniciar la renovación es
                        @(Model.permiso.FechaVencimiento.AddDays((@Model.permiso.DiasGestion * -1)).ToString("dd/MM/yyyy") ?? "n/d")
                    </p>
                    <br />
                    <p class="text">
                        Como responsable de la gestión se ha asignado a @Model.permiso.Encargado.ToString()
                    </p>
                    <br />
                    <p class="text">
                        Si este mensaje no es de su competencia, le pedimos que se comunique con el área de Gestión
                        Socio Ambiental de Pantaleon, para que revisen.
                    </p>
                </td>
            </tr>
        </table>
        <hr />
        <hr />
        <div style="padding:15px; margin-top:15px; margin-bottom:15px;">
            <p class="text">Para cualquier aclaración contactarse con el área de gestión Socio Ambiental.</p>
            <p class="text">Gracias.</p>
            @Model.negocio.Nombre.ToString() <br />
        </div>
    </div>

    <br />
    <br />
</body>
</html>
