<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sistema de Encadenamiento">
    <meta name="author" content="Laureano Arcia">

    <title>Encadenamiento- @ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/images/pantaMR.png">
    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-1.css" rel="stylesheet">
    <link href="~/vendor/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/vendor/sweetalert2/sweetalert2.min.css" rel="stylesheet">

    <style>
        
        .swal2-button {
            margin: 0 10px !important; /* Espacio entre todos los botones */
        }

    </style>

    @await RenderSectionAsync("Estilos", required: false)
</head>

<body>
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/Home/Index">
                <div class="sidebar-brand-icon">
                    <i class="fa fa-handshake"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Cumplimiento</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            @await Component.InvokeAsync("Menu")
            <!-- Nav Item - Dashboard -->
           @*  <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","DashBoard")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Indicadores</span>
                </a>
            </li> *@

            <!-- Nav Item - Administración Collapse Menu -->
            @* <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdministracion">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Administración</span>
                </a>
                <div id="collapseAdministracion" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-gray-300 py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index","MaestroFinca")">Fincas</a>
                        <a class="collapse-item" href="@Url.Action("Index","Usuario")">Usuarios</a>
                        <a class="collapse-item" href="@Url.Action("Index","Negocio")">Empresa</a>
                    </div>
                </div>
            </li> *@

            <!-- Nav Item - Requisitos Collapse Menu -->
            @* <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRequisitos">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>Requisitos</span>
                </a>
                <div id="collapseRequisitos" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index","CheckList")">Checklist Evaluación</a>
                        <a class="collapse-item" href="@Url.Action("Index","Revision")">Revisiones</a>
                    </div>
                </div>
            </li> *@

            <!-- Nav Item - Registro Collapse Menu -->
            @* <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRegistro">
                    <i class="fas fa-fw fa-calendar-alt"></i>
                    <span>Planes de Trabajo</span>
                </a>
                <div id="collapseRegistro" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index","PlanesTrabajo")">Registro Plan</a>
                        <a class="collapse-item" href="@Url.Action("Planes","PlanesTrabajo")">Mantenimiento</a>
                        <a class="collapse-item" href="@Url.Action("Actividades","PlanesTrabajo")">Actividades</a>
                    </div>
                </div>
            </li> *@
        
            <!-- Nav Item - Catálogo Collapse Menu -->
            @* <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCatalogo">
                    <i class="fas fa-fw fa-cogs"></i>
                    <span>Sincronizacion</span>
                </a>
                <div id="collapseCatalogo" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">                 
                        <a class="collapse-item" href="@Url.Action("RevisionCampo","Sincronizacion")">Revisiones en Campo</a>                        
                        <a class="collapse-item" href="@Url.Action("VisitaCampo","Sincronizacion")">Visitas de Campo</a>
                        <a class="collapse-item" href="@Url.Action("Actividades","Sincronizacion")">Estado de Actividades</a>
                        <a class="collapse-item" href="@Url.Action("Estadistica","Sincronizacion")">Estado de Planes</a>                        
                    </div>
                </div>
            </li> *@


            <!-- Nav Item - Reportes Collapse Menu -->
            @* <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReportes">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Reportes</span>
                </a>
                <div id="collapseReportes" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="@Url.Action("Index","Reporte")">Reporte Gerencial</a>
                        <a class="collapse-item" href="@Url.Action("Operativo","Reporte")">Reporte Operativo</a>
                    </div>
                </div>
            </li> *@
            <!-- Nav Item - Acerca de -->
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index","Dashboard")">
                    <i class="fas fa-fw fa-info-circle"></i>
                    <span>Acerca de</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                       @*  <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">SOLINTESA</span>
                                <img class="img-profile rounded-circle"
                                     src="~/img/Prueba 2.png">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Perfil","Home")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Salir
                                </a>
                            </div>
                        </li> *@
                        @await Component.InvokeAsync("MenuUsuario")

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; solintesa.com 2024</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.js"></script>
    <script src="~/vendor/toastr/toastr.min.js"></script>
    <script src="~/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/vendor/loadingoverlay/loadingoverlay.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>

